@page "/login"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using MyBillz.Services
@inject IJSRuntime JS
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

<PageTitle>登入 - MyBillz</PageTitle>

<section class="login-wrapper">
    <div class="login-container">
        <div class="login-box">
            <h2>登入您的帳號</h2>

            <form>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="your@email.com" />

                <label for="password">密碼</label>
                <div class="password-wrapper">
                    <input type="@(m_bShowPassword ? "text" : "password")" id="password" placeholder="請輸入密碼" />
                    <button type="button" @onclick="_TogglePassword" class="toggle-btn">
                        <img src="images/@(m_bShowPassword ? "eye-close.png" : "eye-open.png")" alt="Toggle password visibility" />
                    </button>
                </div>

                <button type="submit" class="login-btn">登入帳號</button>
            </form>

            <div class="login-footer">
                <span>還沒有帳號？<a href="/terms">註冊</a></span>
            </div>
        </div>
    </div>
</section>

@code {
    private IJSObjectReference? _module;

    private string m_sVersion = string.Empty;
    private bool m_bShowPassword = false;
    private void _TogglePassword() => m_bShowPassword = !m_bShowPassword;

    [Inject] private AppSettingsService AppSettings { get; set; } = default!;
    [Inject] private IWebAssemblyHostEnvironment HostEnvironment { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await AppSettings.LoadAsync();

        if (HostEnvironment.IsDevelopment())
            m_sVersion = $"?v={DateTime.Now.Ticks}";
        else
            m_sVersion = AppSettings.Get<string>("Version");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", $"./Pages/Login.razor.js{m_sVersion}");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
            await _module.DisposeAsync();
    }
}
